<!--
TODO
# -add to list place id to confirm connection
# -and link to show.html.erb or maybe edit link after each?
# Header = place name
# posts where post.where places_id = place.id
-->


<h1> Post </h1>

<p> This is post number: <%=@post.id%> </p>


  <h2> <%= @post.title%> </h2>
  <p> <%= @post.description%> </p>
  <p> <%= @post.posted_on%> </p>

<p><a href="/posts/edit?<%=@post.id%>" > Edit Post</a><p> 

<p><a href="/places/"> Back to places</a></p>
